body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}


/* Formatting for the main title "Rslash Reader */
h1 {
  color: red;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-top: 2rem;

}

/* Formatting for the page title "Popular Subreddits" */

h2 {
  color: red;
  padding-left: 4rem;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}


/* This is the list of articles in the Previews. It uses Flexbox
the flex-wrap allows multiple items per line.
list-style-type removes the bullets
the items stretch to fill the box and are at the start of the grid */
ul {

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  list-style-type: none;
  padding: 0 0;
  margin:0 7%;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
                                                                  

}

/* This is formatting the tiles. It puts a border and shaddow around them and colours them*/

.tilearea {
  width:23%;
  margin: 0.3rem;
  background-color: antiquewhite;
  overflow: auto;
  border: 3px lightcoral solid;
  border-radius: 7px;
  box-shadow: 2px 3px grey;
  }


  /* This is so that the tile changes colour slightly when the user is on it to highlight which they are clicking on */
  .tilearea:hover {
   
    background-color: wheat;
  }


.tile {

  margin: auto;
 

}

/* This is formatting the tile title */
h3 {
  text-align: center;
  padding: 0.5rem 0.6rem 0;
  color: gray;
  text-transform: capitalize;
  font: arial;
  margin: 0;
}

/*This formats the subreddit*/
.sub {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  padding-right: 2rem;
  padding-bottom: 0rem;
  color: red;
  text-decoration: underline;
  width: fit-content;
  text-align: right;
 
}

p.sub {
  margin-left: auto;
}

p.sub:hover {
  cursor: pointer;
}

/*This makes the subreddit bold when hovered over to draw attention that it will go to the subbreddit not the article*/
.sub:hover {
  font-weight: 900;
}

/*This is  formatting the thumbnail */
img {
  display: block;
  margin: auto auto;
  padding: 0.5rem;
 
}

/*This removes the hyperlink underline */
a {
  text-decoration: none;
}

/*This changes the cursor to signify the user is over a clickable link*/
a:hover {
  cursor: pointer;
}


.loading {
  color: red;
  padding-left: 2rem;
  font-size: medium;
  font-style: italic;
}


p.back {
  color: red;
  padding:0 2rem;
  text-decoration: underline;


}

p.back:hover {
  cursor: pointer;
}

.search {
  width: 100%;
}



.searchbox {
  font-size: 1.2rem;
  margin-right: 0.2rem;

}



.searchbutton {
  height: 1.75rem;

  vertical-align: top;
}





h2.section-title {
  display: inline;
  margin-right: 1.2rem;
}

.innersearch {
  margin-top: 1.5rem;
  float:right;
  margin-right: 4rem;
}

.clearbutton {
  vertical-align: top;
  margin-top: 1rem;
  height: 1.2rem;
  width: 1.2rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  padding-left: 0.4rem;
  background-color: red;
  border-style: none;
}

.clearbutton:hover {
  cursor: pointer;
  background-color: black;
  color:red;
}

.articletitle {
  text-align: center;
  font-size: 3rem;
  color: black;
  padding-left: 0;

}

.articlesub {
  text-align: right;
  text-transform: lowercase;
  margin-right: 3rem;
  color:red;
}

.articleimage {
  max-width: 60%;
}

ul.commentList {
  display:list-item;
}

p.comment {
 
 
    position: relative;
    max-width: 80%;
    
    text-align: center;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  }
  
  p.comment::before {
 
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em; 
    border: .75rem solid transparent;
    border-top: none;
  

    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
  }
  
 .articleauthor {
   margin-left: 2rem;
 }
