
/* Styling the main body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
  background-image: url("bluebackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/* Formatting for the main title "Rslash Reader */
h1 {
  color: #0d6efd;
  text-transform: uppercase;
  font-family: "DynaPuff", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
  text-shadow: 0.1rem 0.1rem black;

}

/* Formatting for the Article Previews title  */

h2 {
  color: #0d6efd;
  font-family: "DynaPuff", cursive;
  padding-left: 4rem;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-shadow: 0.1rem 0.1rem black;
  display: block;
  width:100%;
  padding-top: 3rem;
}


/* This is the list of articles in the Previews. It uses Flexbox
the flex-wrap allows multiple items per line.
list-style-type removes the bullets
the items stretch to fill the box and are at the start of the grid */
ul {

  display: flex;
  flex-wrap: wrap;
  width: 90%;
  list-style-type: none;
  padding: 0 0;
  margin:auto;
  align-content: stretch;
  align-items: stretch;
  justify-content: center;
                                                                  

}

/* This is formatting the tiles. It puts a border and shaddow around them and colours them*/



.tilearea  {
  width:45%;
  margin: 0.5rem;
  overflow: auto;
  background-color: rgba(13, 110, 253,0.3);
  border-radius: 7px;
  box-shadow: 1px 1px black;  
  }

  

h2.section-title {
  display: inline;
  margin-right: 1.2rem;
  text-transform: capitalize;
  margin-left: 1.5rem;
  width:100%;

}


/* This is formatting the tile title */
h3 {
  color: white;
  text-align: center;
  padding: 0.5rem 0.6rem 0;
  font-size: 1.8rem;
  text-transform: capitalize;
  font: arial;
  margin: 0; 

}

/*This formats the subreddit*/
.sub {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  padding-right: 1rem;
  padding-bottom: 0rem;
  color: lightgray;
  text-decoration: underline;
  width: fit-content;
  text-align: right;
  
}

p.sub {
  margin-left: auto;
}

p.sub:hover {
  cursor: pointer;
}

/*This makes the subreddit bold when hovered over to draw attention that it will go to the subbreddit not the article*/
.sub:hover {
  font-weight: 900;
}

/*This is  formatting the thumbnail */
img.thumbnail {
  display: block;
  margin: auto auto;
  width: fit-content;
  border-radius: 7px;
  margin-bottom: 2rem;
  margin-top:1rem;

}

.logo {
  display: block;
  margin: auto auto;
}

.img {
  width: fit-content;
}

/*This removes the hyperlink underline */
a {
  text-decoration: none;
}

/*This changes the cursor to signify the user is over a clickable link*/
a:hover {
  cursor: pointer;
}

/* This removes the thin separator that comes from Bootstrap */
.card {
  --bs-card-border-width: 0px;
}

/* This formats the loading text */
.loading {
  color:#0d6efd ;
  padding-left: 2.5rem;
  font-size: medium;
  font-style: italic;
}



/* Formatting the search */

.search {
  width: 100%;
  display: block;

}

::placeholder {
  color:white;
  opacity: 1;
}
.searchbox {
  font-size: 1.2rem;
  margin-right: 0.2rem;
  padding-top: 0.2rem;
  background-color: rgba(13, 110, 253,0.6);
  color:white;

}

.searchbutton {
  vertical-align: top;
}


.innersearch {
  margin-top: 1.5rem;
  float:right;
  margin-right: 4rem;
}

/* Formatting the clear button when search is on */

.clearbutton {
  vertical-align: top;
  margin-top: 1rem;
  height: 1.2rem;
  width: 1.2rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  padding-left: 0.4rem;
  background-color:#0d6efd;
  border-style: none;
  border-radius:50%;
}
.clearicon {
  padding:0;
  width:150%;

}

.clearbutton:hover {
  cursor: pointer;
  background-color: black;
  color:red;
}


/* This formats the articles */

.articles-container {
  padding-top: 2rem;
}
.article {
  width: 95%;
  margin:auto;
  background-color: rgba(236, 233, 233, 0.3);
  border-radius: 7px;
  border: 2px 2px grey solid;
  box-shadow: 1px 1px black;  
  padding-bottom: 3rem;
}

.articletitle {
  text-align: center;
  font-size: 3rem;
  color:#0d6efd;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  text-transform: capitalize;
 }

.articlesub {
  text-align: right;
  text-transform: lowercase;
  margin-right: 3rem;
  color:#0d6efd;
  margin-bottom: 1rem ;
}

.articleimage {
  max-width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 7px;


}
  
video {
   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;

}


/* Commment formats */

ul.commentList {
  display:list-item;
}

div.comment {
    position: relative;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgba(0,255,255,0.4);
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  }
  
  div.comment::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em; 
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color:  rgba(0,255,255,0.4);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
  }
  
 .articleauthor {
   margin-left: 5rem;
 }



 /* Formatting for Nav */
  .homebutton {
    width: 2rem;
    height: 2rem;

    padding: 0.1rem;
    margin-left: 2.5rem;
 }

 .backbutton {
    width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-bottom:0;
    padding: 0.2rem;
    vertical-align: top;
    margin-left: 2.5rem;
 }
 
 .homeicon{
  width:100%;

 }

 .backicon{
    width: 80%;
    height: 80%;
    padding: 0;
 }

  nav {
    position: fixed;
    width: 2rem;
    display: block
  }


